# Folder Vendor (Penyebab utama upload berat)
/vendor/
/node_modules/

# Konfigurasi Lingkungan (Penting untuk keamanan)
.env
/application/config/database.php

# Log dan Cache
/application/logs/*
!/application/logs/index.html
/application/cache/*
!/application/cache/index.html

# Sistem dan IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
/nbproject/

# File Temporary Laragon/Server
*.log
*.tmp
